#top,
#bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

#top {
    top: 0;
    background-color: BEBEBE;
    text-align: center;
}

#bottom {
    bottom: 0;
    background-color: 87CEEB;
    text-align: center;
}
.top img {
  float: left;
  width: 170px;
  height: 170px;
}

.top h1 {
  float: relative;
  text-align: center;
  display: inline-block;
}

